input[type="text"],
input[type="password"],
select,
input[type="datetime-local"],
input[type="date"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  /* max-width: 300px; */
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
}

label:has(input[type="search"]) {
  width: 100%;
}

label:has(input:required) .text::after {
  content: "*";
}
label {
  display: grid;
}

label .text {
  font-size: 0.7rem;
}

table {
  & input[name="id"],
  & input[name="user_id"],
  & input[name="wpPostId"],
  & input[name="middle_initial"],
  & input[name="event_id"],
  & input[name="location_id"],
  & input[name="event_id"],
  & input[name="grade"],
  & input[name="location_id"] {
    max-width: 10ch;
  }

  & td[data-key="user_id"] span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-moment;
    width: 6ch;
    direction: rtl;
    align-self: center;
  }
}

/* input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
} */

form {
  display: grid;
  gap: 0.8rem;

  & > legend:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
  }

  & fieldset {
    border-color: var(--c-seperator);
    display: grid;
    gap: 0.8rem;

    & > legend {
      margin-bottom: var(--size-m);
    }
  }

  & .form-field {
    display: grid;
    gap: var(--size-xs);
  }

  /* button[type="submit"] {
    margin-top: 1.5rem;
  } */

  label {
    display: grid;

    & .text {
      align-self: end;
    }
  }

  label.form-field:has(input[type="hidden"]) {
    display: none;
  }

  fieldset.actions {
    border: none;
    padding: 0;
    margin-top: 1.5rem;

    & > button {
      max-width: fit-content;
      padding: 1rem 2rem;
    }
  }

  select,
  input[type="datetime-local"] {
    width: fit-content;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
  }

  details {
    display: grid;

    &:open {
      gap: var(--size-m);
    }
  }
}

#submit-button {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "label icon";

  align-items: center;
  gap: 0.5rem;

  & > .text,
  & > .submit-indicator {
    grid-area: label;
  }

  & > .icon {
    grid-area: icon;
  }

  &:has(.text.hide) {
    grid-template-columns: 1fr;
    grid-template-areas: "icon";
    justify-items: center;
  }

  &:has(.text.hide) > .icon {
    justify-self: center;
  }
}

.submit-indicator {
  visibility: hidden;
  position: absolute;
}

.htmx-request {
  background-color: var(--c-seperator);
  border-bottom-color: var(--c-secondary);
  & .submit-indicator {
    visibility: visible;
  }
  & .text {
    display: none;
  }
}

form.edit-page {
  & .error.top-level {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  & .error.top-level:has(.message span:empty) {
    visibility: hidden;
    opacity: 0.2;
    transform: translateY(14px);
    pointer-events: none;
    height: 0;
  }
}

form .message {
  display: flex;
}

form .hide {
  display: none;
}

.separator {
  border: none;
  border-top: 1px solid var(--c-seperator);
  margin: 1.5rem 0;
  padding: 0;
}

.separator legend {
  padding: 0 0.75rem;
  color: var(--c-seperator);
  margin: 0 auto;
  width: max-content;
}

.corner-checkbox {
  --color-checked: var(--c-accent, goldenrod);
  --color-unchecked: var(--c-seperator, grey);
  --color-hover: var(--c-primary, rgb(116, 170, 181));
  --size: 15px;
  width: var(--size);
  height: 50%;
  cursor: pointer;
  display: grid;

  & > * {
    grid-area: 1 / 1;
  }
}

.corner-checkbox input {
  display: none;
}

.corner-checkbox-bg {
  width: 100%;
  /* height: 100%; */
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: var(--color-unchecked);
  transition: background 0.18s ease;
}

.corner-checkbox:hover .corner-checkbox-bg {
  background: var(--color-hover);
}
.corner-checkbox:has(input:checked) .corner-checkbox-bg {
  background: var(--color-checked);
}

.corner-checkbox-icon {
  place-self: start;
  padding: 12% 0 0 12%;
  width: 28%;
  height: 28%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  color: black;
  font-size: calc(var(--size) * 0.25);
  font-weight: 500;
  line-height: 1;
  z-index: 10;
}

.corner-checkbox:has(input:checked) .corner-checkbox-icon {
  opacity: 1;
}

input[maxlength="5"]{
  max-width: 5ch;
}

/* TODO, make this scaleable or remove completely */
select.color-code {
    --color-1: rgb(177, 177, 244);
    --color-2: rgb(191, 218, 242);
    --color-3: rgb(162, 149, 181);
    --color-4: rgb(177, 244, 226);
    --color-5: rgb(191, 242, 228);
    --color-6: rgb(149, 181, 173);
    --color-7: rgb(181, 149, 178);
    --color-8: rgb(183, 130, 149);
  }
  select.color-code {
    border-color: var(--color, orange);
  }

  /* select.color-code:has(option[value="1"]:checked) {
    border-color: var(--color-1);
  }
  select.color-code:has(option[value="2"]:checked) {
    border-color: var(--color-2);
  }
  select.color-code:has(option[value="3"]:checked) {
    border-color: var(--color-3);
  }
  select.color-code:has(option[value="4"]:checked) {
    border-color: var(--color-4);
  }
  select.color-code:has(option[value="5"]:checked) {
    border-color: var(--color-5);
  }
  select.color-code:has(option[value="6"]:checked) {
    border-color: var(--color-6);
  }
  select.color-code:has(option[value="7"]:checked) {
    border-color: var(--color-7);
  }
  select.color-code:has(option[value="8"]:checked) {
    border-color: var(--color-8);
  } */