.col_1 {
  grid-template-columns: minmax(0, 1fr);
}

.col_2 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
.col_3 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
