.layout_reading {
  max-width: 1200px;
  /* margin-inline: auto; */

  & > header {
    margin-bottom: 4rem;
  }

  & > main {
    padding-inline: 0;
  
  }

  &:has(> footer) {
    padding-bottom: 0;
  }
}
